<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/webnexa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/webnexa"
        android:supportsRtl="true"
        android:theme="@style/Theme.Overly"
        tools:targetApi="31">
        <activity
            android:name="app.test.xyz.SideActivity"
            android:exported="false" />
        <activity
            android:name="app.test.xyz.HomeActivity"
            android:exported="false" />
        <activity
            android:name="app.test.xyz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="applovin.sdk.key"
            android:value="_AZ7TkTRuqMRADHmrKfZNtw0vJFSzcfDgSsV5voTGrXU5rAlC4XFt6RPV7DSuMPh-hJ1Gwe6rwtLQw1PnkyfeI"/>
    </application>

</manifest>